<h3>予約済み一覧</h3>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>合計金額</th>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>予約確定日時</th>
    </tr>
  </thead>

  <tbody>
      <% @rooms.each do |room| %>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= image_tag room.image.to_s, size:'200x100'%></td>
          <td><%= reservation.facility_name %></td>
          <td><%= reservation.detail %></td>
          <td><%= reservation.total_price %></td>
          <td><%= reservation.start_date.to_s %></td>
          <td><%= reservation.end_date.to_s%></td>
          <td><%= reservation.created_at.to_s %></td>
        </tr>
      <% end %>
      <% end %>
  </tbody>
</table>