<%= link_to "戻る", :back %>
    <table>
        <tr>
            <td><%= image_tag @room.image.to_s %></td>
        </tr>

        <tr>
            <th><%= @room.facility_name %></th>
            <td>¥<%= @room.price %></td>
            <td><%= @room.address %></td>
            <td><%= @room.detail %></td>
        </tr>
    </table>

        <%= form_with model: @reservation, url: confirm_reservations_url do |f| %>
            <table>
                <th><%= f.label :start_date,"チェックイン" %></th>
                <td><%= f.date_field :start_date %></td>
                <th><%= f.label :end_date,"チェックアウト"%></th>
                <td><%= f.date_field :end_date %></td>
                <th><%= f.label :how_many_people,"人数"%></th>
                <td><%= f.number_field :how_many_people %></td>
                <td><%= f.hidden_field :image, value: @room.image %>
                <td><%= f.submit "予約する" %></td>
            </table>
        <% end %>


